[submodule "source/libs/utils"]
	path = source/libs/utils
	url = C:/Users/ggabr/Documents/1 - Gabriel/dev/repos/gali_utils
[submodule "source/libs/imgui"]
	path = source/libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "source/libs/serial/serial"]
	path = source/libs/serial/serial
	url = https://github.com/wjwwood/serial.git
